.main{
    width: 1200px;
    height: 550px;
    background-color: rgb(240,172,26);
    margin: 30px 50px 30px 50px;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}
.detail-card{
    width: 1000px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 10px;
}
.detail-list{
    width: 600px;
    height: 500px;
    background-color; white;
    margin: 30px;
    float: right;
    border-radius: 10px;
}
.profile{
    padding-left: 20px;
}