body{
    
    background-color: orange;
        
}
.logo img{
    float: left;
    width:15%;
    padding:15px;
}
.logout button{
    background-color: orange;
    color:#ffff;
    float:right;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
    width: 28%;
}
.Dashboard button{
    font-family:sans-serif;
    outline: 2;
    background:rgba(15, 70, 104, 0.863);
    border-radius: 10px;
    width: 100%;
    margin:0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    text-decoration-color: rgb(240, 172, 26);
    cursor: pointer;
    color:#ffff;
}
.Main{
    background-color: #ffff;
    Z-index: 5;
    max-width: 60%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border-radius: 5px;

}

.Dashboard button:hover, .Dashboard button:active{
    background: #03374b;
}
.graph{
    margin: auto;
    box-sizing: border-box;
    width: fit-content;
    
}


.Dashboard{
   padding-top: 5px;
    margin: auto;
    box-sizing: border-box;
    width: fit-content;
    


}
.search{
     width: fit-content;
    display: flex;
    margin: auto;
}
.search button{
    padding:5px;
    border-radius: 10px;
}

.card{
   
    width:50%;
}