body {
    background-color:rgba(255, 136, 0, 0.911);
}

.mainBox {
    width: 1200px;
    height: 800px;
    padding: 50px;
    margin: 0 auto;
}
.detail-card {
    background-color: white;
    background-position: center;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
}

.cardHead a {
    background:rgba(255, 136, 0, 0.911);
    float: right;
    margin-left: 10px;
}

.detail-list {
    padding: 30px;
    text-align: left;
}

.detail-list h3 {
    color: rgba(24, 72, 87, 1);
    font-family: "Robboto", sans-serif;
    font-weight: bold;
}
.detail-list a {
    background:rgba(24, 72, 87, 1);
    margin-left: 10px;
}

.profile {
padding: 30px;
text-align: center;
}

.profile input {
    padding-left: 30px;
    float: left;
    margin-left: 70px;
}
/* .profile input label {
    float: left;
} */

.profile button {
    background-color: rgba(24, 72, 87, 1);
    margin: 20px;
}

.detail-list button {
    background-color: rgba(24, 72, 87, 1);
    margin: 20px;
}